[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.1"
djangorestframework = "==3.14.0"
dj-database-url = "==2.1.0"
python-decouple = "==3.8"
psycopg2-binary = "==2.9.9"
black = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"
drf-social-oauth2 = "*"
drf-yasg = "==1.21.4"
whitenoise = "*"
gunicorn = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
